{% extends 'base.html.twig' %}

{% block title %}Questions N4{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
            height: 100vh; /* Hauteur de la fenêtre visible */
            display: flex;
            justify-content: center; /* Alignement horizontal */
            align-items: center; /* Alignement vertical */
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button {
            font-size: 1.75em;
            width: 20em;
            display: block;
            padding: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-bottom: 10px;
            text-decoration: none; /* Supprime l'underline */
            text-align: center;
        }
        .button:hover {
            background-color: #0056b3;
        }
        
        .container {
            display: flex;
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement */
            height: 100px; /* Hauteur de votre choix */
        }

        .barre {
            width: 80%; /* Largeur de la barre */
            height: 2px; /* Épaisseur de la barre */
            background-color: red; /* Couleur de la barre */
        }
    </style>
{% endblock %}

{% block body %}
   <div class="button-container">
        <h1> Je révise mon N4 </h1>
        <a href="{{ path('series_of_questions') }}" class="button">Série de 10 questions N4</a>
        <div class="container">
            <div class="barre"></div>
        </div>
        <h1> Je révise mon MF2 </h1>
        <a href="{{ path('series_of_questions_mf2') }}" class="button">Série de 10 questions MF2</a>
    </div>
{% endblock %}